<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BakeryOrder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB5D9D461F52F30D00180C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB5D9D5A1F52F30D00180C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB5D9D651F52F30D00180C51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
